In [1]:
import numpy as np
import pandas as pd

In [2]:
myIndex = ['USA','Canda','Mexico']
myData = [1776,1867,1821]

In [3]:
mySer = pd.Series(data=myData,index=myIndex)

In [4]:
mySer

USA       1776
Canda     1867
Mexico    1821
dtype: int64

In [5]:
type(mySer)

pandas.core.series.Series

In [6]:
mySer.iloc[0]

1776

In [7]:
mySer['USA']

1776

In [8]:
ages = {'Sam':5,'Frank':5,'Spike':7}

In [9]:
pd.Series(ages)

Sam      5
Frank    5
Spike    7
dtype: int64

In [11]:
# Вымышленные данные о продажах за 1й и 2й квартал для некоторой глобальной компании в разных странах
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [13]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [14]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
sales_q1['Japan']

80

In [16]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [17]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [18]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [21]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [22]:
sales_q1.dtype

dtype('int64')

In [23]:
first_half.dtype

dtype('float64')